<% if user_signed_in? %>
	 <%= render 'layouts/dock' %>
<% else %>
<div class="center hero-unit">
	<h1>Welcome to GemPort!</h1>
	<p>
	  Where Photographers can connect!
	</p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
    <p>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	</p>
</div>
<% end %>