<div class="center hero-unit">
	<h1>Welcome to GemPort!</h1>
	<p>
	  Where Photographers can connect!
	</p>
    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>