- if user_signed_in?
  = render 'layouts/dock'
- else
  .hero-unit.center
    %h1 Welcome to GemPort!
    %p
      Where Photographers can connect!
    = link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large"
    %p
    %p
      = link_to '<i class="icon-facebook icon-white"></i> &nbsp;Sign in with Facebook'.html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-facebook"