<div class="well">
  <h4><%= referral.description %></h4>
	<%= link_to 'Show', referral, class: "btn" %></td>
	<% if current_user == referral.user %>
  <%= link_to 'Edit', edit_referral_path(referral), class: "btn btn-success" %>
  <%= link_to 'Destroy', referral, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
		<% end %>
</div>