%br
.row
  .center
    .span3
      = link_to '<i class="icon-edit icon-white icon-large"></i> Submit a Referral'.html_safe, new_referral_path, class: "btn btn-large btn-primary btn-block"
    .dock.span12#referrals
      = render @referrals
= will_paginate @referrals
