<h2>Listing referrals</h2>

<table class="table table-striped">
	<thead>
 	 <tr>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
		<%= render @referrals %>
	</tbody>
</table>

<br />

<%= link_to 'Submit a Referral', new_referral_path, class: "btn btn-primary" %>
