<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @referral.description %>
			</p>
			<small>
				<%= @referral.user.name %>
			</small>
			<br />
			<% if current_user == @referral.user %>
				<%= link_to 'Edit', edit_referral_path(@referral), class: "btn" %> |
			<% end %>
			<%= link_to 'Back', root_path %>
		</div>
	</div>
</div>

