@import url(http://fonts.googleapis.com/css?family=Bentham|Droid+Sans:400,700);

$sansFontFamily: 'Droid Sans', sans-serif;
$headingsFontFamily: 'Bentham', serif;
$linkColor: #f36044;
$navbarBackgroundHighlight: white;
$navbarLinkColor: #f36044;
$iconSpritePath: '';
$iconWhiteSpritePath: '';
$heroUnitBackground: transparent;
$headingsColor: #4e526a;
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'font-awesome';

body {
	background:#f2efe1;
	-webkit-font-smoothing: antialiased;
}
.hero-unit h1 {color:#4e526a;}
h1,h2,h3,h4,h5,h6 {font-weight:normal};
a:hover i {text-decoration:none;}
i:hover {}
.textshadow {text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);}
.muted {color:#6d7184}
.white {color:white}
.orange {color:#f36044;}
.icon-white {background:none;color:white}
.icon-grey {color:#b2b1aa}
.icon-grey:hover {color:#f36044;}

.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.img-border {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border:2px solid white;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.4);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.4);
}

/* forms */
.form-actions {background:none;border:none;padding:0}
.form {margin-left:10px}

/* Alerts */
.alert {position:absolute;margin-left:400px}

/* navbar */
.navbar-inner{
	background-image:none;
	background:#4e526a;
	border-bottom:1px solid #e5e1d3;
	height: 64px;
}
.navbar > .navbar-inner > .container > .nav-collapse.collapse.in {
	background:#4e526a;
	z-index:9999;
}
.navbar .nav > li > a {
	text-shadow: none;
	font-size:20px;
	line-height: 35px;
	color: #dbd8ce;
}	
.profileToggle {margin:0 0 0 22px}
.profileToggle > a {
	background:#f36044;
	-webkit-border-radius: 0px 35px 35px 0px;
	border-radius: 0px 35px 35px 0px;
	height: 20px;
	width:60px;
	margin-top:8px;
}
.profileToggle .img-border {
	border:3px solid #f36044;
}
.profileToggle > a .img-border {
	margin-top:-39px;
}
.profileToggle > a i {margin:0px}
.profileToggle > a:hover .img-border, .profileToggle.open > a .img-border {
	border:3px solid #dbd8ce;
	-webkit-box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 2px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 2px rgba(50, 50, 50, 0.4);
}
.navbar .nav > li.profileToggle > a:hover, .navbar .nav > li.profileToggle.open > a {
	background:#dbd8ce;
	-webkit-box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 2px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 2px rgba(50, 50, 50, 0.4);
}
.navbar .nav > li.active > a{
	color: #f36044;
	background: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
	color:#f36044;
	background: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar .nav > li.active > i {
	margin-top: 0px;
	margin-right: 45px;
	margin-bottom: -4px;
	color:#dbd8ce;
}
.nav .dropdown-menu {
	margin: 13px 7px 0 0;
	-webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.2);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.nav .dropdown-menu li {
	margin: 5px 0 5px 0;
}
.navbar-inner{
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.2);
}
.navbar .logo {
	margin-top:4px;
	padding:0;
	float:left;
	width: 150px;
	height: 50px;
	display:block;
}
.navbar .btn.btn-navbar {
	margin-top:5px;
	color: white;
	background: #4e526a;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	border:none;
}
.profileHeader {
	width:50px;
	height:50px;
	margin-top:-19px;
	margin-left:-25px;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}
.profilePage {
	margin: 20px 0;
}
.navbar .nav > li > a.btn {margin-top:10px; color:white; line-height:20px; font-size:18px;}
.navbar .nav > li > a.btn:hover {color:#f36044;background:#f2efe1}
.login {text-align:right;float:right}

/* footer */
.footer{
   margin-top: 50px;
   color: $grayLight;
   a{
       color: $gray;
    }
}


/* buttons and colours */
.btn{
	/*@include box-shadow(none !important);*/
	border:none;              
  border-radius:5px;     
  background: #f36044;
	border-bottom: 2px solid #c94d3d;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover, .btn:focus {
	background: #4e526a;
	border-bottom: 2px solid #3d4151;
}

select {width:auto;min-width: 20px;}

.cornerShadow:after {     
  content: "";
  position:absolute;
  right:-0px; bottom:20px;
	z-index:-2;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  -moz-box-shadow:		5px 19px 5px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow:	5px 19px 5px rgba(0, 0, 0, 0.20);
  box-shadow:					5px 19px 5px rgba(0, 0, 0, 0.20);
	-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	 -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	     -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	         transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

/* Homepage and login */
.home {
	margin-top:10px;
	height:550px;
	background: url('shipwreck.jpg') -100px 0;
}
.home .lead {font-size:32px;line-height:39px;margin-top:80px}
.login {
	margin:0 auto 0 auto;
	display:inline-block;
}
.login h1 {margin-bottom:20px;}
.socialButtons ul li {margin: 8px 0 8px 0}
.socialButtons p.text-center {text-align:center;width:100%;font-size:23px;}
.socialButtons {
	padding:12px;
	background:  rgba(78, 82, 106, 0.15);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	color:white;text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.btn.signup {margin:0 0 10px 28%;line-height:36px;font-size:22px}
.btn-facebook, .btn-twitter, .btn-google {
	color:white;
	text-shadow:none;
	font-size: 17px;
}
.btn.btn-facebook:hover, .btn.btn-facebook:focus {
	background: #5681bf;
}
.btn.btn-twitter:hover, .btn.btn-twitter:focus {
	background: #43bce8;
}
.btn.btn-google:hover, .btn.btn-google:focus {
	background: #e26356;
}
.btn-facebook {
	background:#4d72b5;
	border-bottom-color:#304977;
}
.btn-twitter {
	background:#2ba9e1;
	border-bottom-color:#207d9e;
}
.btn-google {
	background:#df4a32;
	border-bottom-color:#9b2e23;
}
.section1 h3 {font-family:'Droid Sans', sans-serif;}
.section1 {
	background:#e2decc;
	padding: 8px 15px 8px 15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:20px;
}
.section1{
	margin-top:50px;
}
.logo.front {
	width:249px;
	height:83px;
	margin-top:9px;
	line-height:77px;
}

/* Sign-in/up page */
.socialButtons.signin {
	margin-top:0;
	margin-left:160px;
	padding:12px;
	background:inherit;
}
.btn.signup {margin:0 0 10px 0}

/* Dock and referrals */
.dock {
	background:#e2decc;
	height:100%;
	padding:10px;
	margin-top:30px;
	z-index:1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.referralBox {
	border:1px solid #cccccc;
	border-right:1px solid #bababa;
	border-bottom:1px solid #bababa;
	position:relative;
	font-size: 13px;
	padding:3px 6px 3px 6px;
	background:#FFF;
	float:left;
	width: 260px;
  -moz-box-shadow:		0px 0px 3px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow:	0px 0px 3px rgba(0, 0, 0, 0.14);
  box-shadow:					0px 0px 3px rgba(0, 0, 0, 0.14);
  -webkit-transition : all 0.6s ease-out-in;
     -moz-transition : all 0.6s ease-out-in;
      -ms-transition : all 0.6s ease-out-in;
       -o-transition : all 0.6s ease-out-in;
          transition : all 0.6s ease-out-in;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.referralBox:hover, .referralBox:focus {
  -webkit-transition : all 0.2s ease-in-out;
     -moz-transition : all 0.2s ease-in-out;
      -ms-transition : all 0.2s ease-in-out;
       -o-transition : all 0.2s ease-in-out;
          transition : all 0.2s ease-in-out;
  -moz-box-shadow:		0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:	0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow:					0px 0px 8px rgba(0, 0, 0, 0.3);
}
.referralBox 
.referralEdit {
	opacity:0;
	visibility:hidden;
	transition:opacity .5s linear;
	right:29px;
	position:absolute;
}
.referralClose {
	opacity:0.1;
	visibility:visible;
	transition:opacity .5s linear;
	right:6px;
	position:absolute;
}
.referralBox:hover .referralEdit, .referralBox:hover .referralClose {
	visibility:visible;
	opacity:1;
  transition-delay:0s;
}
.referralProfile {
	position:absolute;
	top:-11px;
	left:-1px;
	width:60px
}
.img-border.border-white {border-color:white}
.referralProfile a:hover .img-border {border-color:#f36044}
.referralBox .location {margin:5px 50px 5px 40px;}
/* Masonry */



@media (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
.referralBox {margin:8px 5px 8px 15px;width:91%}
.referralBox .location {margin-left:52px;}
.referralBox .eventDate {margin-left:52px}
.referralProfile {left:-15px;}
.login {margin-left: 10px; float:left;}
}
@media (max-width: 767px) {
	.referralBox {margin:8px 5px 8px 15px;width:91%}
	.referralBox .location {margin-left:52px;}
	.referralBox .eventDate {margin-left:52px}
	.referralProfile {left:-15px;}
	.login {margin-left: 10px; float:left;}
}
@media (min-width: 768px) {
	.referralBox .location {margin-left:40px;}
	.referralBox .eventDate {margin-left:40px}
	.socialButtons {margin-top:120px;margin-left:360px; width:270px}
	.home .lead {margin-top:30px;margin-left:100px; width:530px}
}
@media (min-width: 768px) and (max-width: 979px) {
	.referralBox {margin:8px 15px 8px 15px;}
	.referralBox .location {margin-left:52px;}
	.referralBox .eventDate {margin-left:52px}
	.referralProfile {left:-15px;}
	.btn {padding-left:4px;padding-right:4px}
	.span3 .btn.btn-block {width: 186px;}
	.home .lead {font-size: 28px; line-height: 33px;}
	.login {margin-left: 10px; float:left;}
}
@media (min-width: 980px) {
	body {padding-top: 70px;}
	.referralBox {margin:8px 15px 8px 15px}
	.referralBox .location {margin-left:60px;}
	.referralBox .eventDate {margin-left:60px}
	.referralProfile {left:-10px;}
	.home .lead {margin-top:30px;margin-left: 350px;width:590px}
	.socialButtons {margin-top:90px;margin-left:705px;;color:inherit;text-shadow:none}
	.login {margin-left:430px;}
	.profileToggle {margin:4px -30px 0 372px}
}
@media (max-width: 979px) {
	.navbar .logo {
		margin-left:5px;
	}
	.nav-collapse.collapse.in > .profileToggle {
		float:right;
	}
}
@media (min-width: 1200px) {
	.referralBox {margin:8px}
	.referralBox .location {margin-left:60px;}
	.referralBox .eventDate {margin-left:60px}
	.socialButtons {margin-top:90px;margin-left:945px;color:inherit;text-shadow:none}
	.home .lead {margin-top:30px;width:590px}
	.login {margin-left:642px}
	.profileToggle {margin:4px -30px 0 580px}
}