<p class="lead">Welcome <%= current_user.name %> to the Dock </p>
<div class="center hero-unit">
	<%= link_to 'Submit a Referral', new_referral_path, class: "btn btn-primary" %>
	<div class="dock">
		<%= render @referrals %>
	</div>
</div>